@media screen and (max-width:640px) {
/*comentar en css*/
html{
	/*definir el tamaño del html total*/
	width: 100%;
	height: 100%;
	/*color de fuente*/
	color: black;
	/*reconocimiento de letra*/
	font-family: arial, sans serif;
	/*tamaño de letra*/
	font-size: 20px;
	/*background-image: url(../backround/background-logo.jpg);*/
	top: 100%;
	line-height:1.5;
	background-color:rgb(83,0,0);
}

body{
	/*margen de borde del cuerpo*/
	margin:0px;
	width:100%;
	height:100%;
}

header{
	/*tamaño que va a ocupar el header o banner con el logo*/
	width: 100%;
	height: 15%;
	background-color:rgb(83,0,0);
}


/**/
.w3-sidebar{
	height:100%; 
	margin-top:0%;
	width:70%;
	background-image:url(../backround/Screenshot_2017-04-25-10-14-02.jpg);
	background-repeat: repeat;
	/*background-color:#1A1A1A;/*color del sidebar*/
	position:fixed!important;
	z-index:1;
	color:#FFF;/*color del texto*/
	text-decoration:none;

}

.w3-bar-block .w3-bar-item{/*REVISAR*/
	width:100%;
	display:block;
	padding:3% 12%;
	text-align:left;
	border:none;
	outline:none;
	white-space:normal;
	border-bottom: 1px solid #000;
}

.w3-overlay{/*REVISAR*/
	position:fixed;
	display:none;
	width:100%;
	height:100%;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(0,0,0,0.5);
	z-index:2;
	
}

.w3-animate-left{/*REVISAR*/
	position:relative;
	animation:animateleft 1s;

}
@keyframes animateleft{/*REVISAR*/
	from{
	left:-300px;
	opacity:0
	} 
	to{left:0;
	opacity:1}
}



.w3-medium{/*REVISAR*/
	font-size:15px!important
	}.w3-large{
		font-size:18px!important
}
.w3-xlarge{/*REVISAR*/
	font-size:24px!important
	}.w3-xxlarge{
		font-size:36px!important
		}.w3-xxxlarge{
			font-size:48px!important
			}.w3-jumbo{
				font-size:64px!important
}

.w3-buttn:hover{/*sidebar*/
	color:#000!important;/*color del texto al ser sombreado*/
	background-color:#4ABCDD!important;/*sombreado celeste*/
	border-left: 4px solid #0F3;/*barra verde lateral*/
	font-size: 20px;/*agranda la letra al pasar el mouse*/

}

#alexis-sidebar{
	
	/*background que va a ocupar tambien se puede definir "background-image:url(../backround/backround.jpg;"*/
	width: 90%;
	height: 15%;
	margin-left:5%;
	margin-top:10%;
	text-decoration:none;
}
.slider{
	/*background que va a ocupar tambien se puede definir "background-image:url(../backround/backround.jpg;"*/
	width: 50%;
	height: 15%;
	margin-left:25%;
	margin-top:10%;
	-webkit-animation-name: example;
	-webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
	animation-name: example;
	text-decoration:none;
}

#scroll-sidebar{/*scroll del sidebar*/
	width: 100%;
	height: 75%;
	overflow-y: scroll;
	position: absolute;
	top: 25%;
	margin: 0%;
	padding: 0%;
	text-decoration:none;
}

#backgroung-logo{
	background-color:rgb(103,0,0);
	/*background que va a ocupar tambien se puede definir "background-image:url(../backround/backround.jpg;"*/
	width: 100%;
	height: 100%;
}

#hamburguesa{
	/*tamaño del logo ancho y largo*/
	width: 10%;
	height: 10%;
	/*centrar manualmente de izquierda lo muevo hacia la derecha*/
	left: 5%;
	/*centrar manualmente de arriba hacia abajo*/
	top: 2.5%;
	position: absolute;
	cursor: pointer;
	text-decoration:none;
}

.w3-buttn{
	border:none;
	display:inline-block;
	outline:0;
	padding:8px 16px;
	vertical-align:middle;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:left;
	cursor:pointer;
	white-space:nowrap

}


#frases{
	/*tamaño del logo ancho y largo*/
	width: 50%;
	height: 10%;
	/*centrar manualmente de izquierda lo muevo hacia la derecha*/
	left: 25%;
	/*centrar manualmente de arriba hacia abajo*/
	top: 2.5%;
	position: absolute;
	cursor: pointer;
	text-decoration:none;
}

#frase{
	/*tamaño del logo ancho y largo*/
	width: 15%;
	height: 10%;
	/*centrar manualmente de izquierda lo muevo hacia la derecha*/
	left: 2%;
	/*centrar manualmente de arriba hacia abajo*/
	top: 2.5%;
	position: absolute;
	cursor: pointer;
	text-decoration:none;
}


section{
	position:relative;
	width: 100%;
	height: 75%;
	background-color:rgb(0,0,0);
}
	
.backgroung{
	/*ocupa el tamaño total del seccion*/
	display:table;
	width:100%;
	height:100%;
}
.background1{
	position:absolute;
	/*tamaño del boton ancho y largo*/
	width:94%;
	height:94%;
	/*fondo del boton*/
	background-color:rgb(83,0,0);
	/*boton centrado en los laterales*/
	margin-left:3%;
	/*separacion entre botones*/
	margin-top:3%;
	/*redondeado en borde del boton*/
	border-radius:10px;
	/*cuando el cursor se posiciona en el boton se cambia a una manito*/
	cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	position:absolute;	
}

.backgroung2{
	/*tamaño del boton ancho y largo*/
	width:94%;
	height:94%;
	/*fondo del boton*/
	background-color:rgb(999,999,999);
	/*boton centrado en los laterales*/
	margin-left:3%;
	/*separacion entre botones*/
	margin-top:2.5%;
	/*redondeado en borde del boton*/
	border-radius:10px;
	cursor:none;
	/*cuando el cursor se posiciona en el boton se cambia a una manito*/
	
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	position:absolute;	
	
}
div.scroll {
	width: 98%;
	height: 97%;
	overflow-y: scroll;
	position: absolute;
	top: 2%;
	margin: 0%;
	padding: 0%;
}
p1{
    columns: 100%;
	margin-left:38%;
	
	position:relative;
	border-bottom: 1px solid #000;
}
p2{
    columns: 100%;
	margin-left:45%;
	
	position:relative;
	border-bottom: 1px solid #000;
}
p3{
    columns: 100%;
	margin-left:46%;
	
	position:relative;
	border-bottom: 1px solid #000;
}
p4{
    columns: 100%;
	margin-left:39%;
	
	position:relative;
	border-bottom: 1px solid #000;
}
p5{
    columns: 100%;
	margin-left:42%;
	
	position:relative;
	border-bottom: 1px solid #000;
}
p6{
    columns: 100%;
	margin-left:47%;

	position:relative;
	border-bottom: 1px solid #000;
}
p7{
    columns: 100%;
	margin-left:44%;

	position:relative;
	border-bottom: 1px solid #000;
}
p8{
    columns: 100%;
	margin-left:46%;
	
	position:relative;
	border-bottom: 1px solid #000;
}
p9{
    columns: 100%;
	margin-left:44%;
	position:relative;
	border-bottom: 1px solid #000;
}
p10{
    columns: 100%;
	margin-top:-3%;
	margin-left:43%;
	
	position:relative;
	border-bottom: 1px solid #000;
}

footer{
	width: 100%;
	height: 9.9%;
	background-color:rgb(83,0,0);
}

#alexis{
	position:relative;
	/*background que va a ocupar tambien se puede definir "background-image:url(../backround/backround.jpg;"*/
	width: 50%;
	height: 90%;
	margin-left:25%;
	margin-top:0.7%;
	
}


.la-empresa{
	font-size:24px!important
}

.Frases{
	font-size:24px!important
}
	
	
#caja{
	position:absolute;
	margin-top:50%;
	margin-left:center;
	text-decoration:none;
	display:block;
}	
	
a{
	text-decoration:none;;
}	

.facebook{
	margin-left:0%;
	width:25%;
	height:10%;
	border: 2px solid #fff;
	border-radius:100%;
	text-decoration:none;
}
	
.facebook:hover{
	background: #3F5C9A;
	border: 2px solid #3F5C9A;
	border-radius:100%;
	text-decoration:none;
}	


ol, ul {
    list-style: none;
}

.linkedin{
	width:25%;
	height:10%;
	border: 2px solid #fff;
	border-radius:100%;
	text-decoration:none;
}

.linkedin:hover{
	background: #37678D;
	border: 2px solid #37678D;
	border-radius:100%;
	text-decoration:none;
}	
	
	
.twitter{
	width:25%;
	height:10%;
	border: 2px solid #fff;
	border-radius:100%;
	text-decoration:none;
}	

.twitter:hover{
	background: #54A4DE;
	border: 2px solid #54A4DE;
	border-radius:100%;
	text-decoration:none;
}





.copyright{
	color: #fff;
	font-size: 14px;
	margin-left:5%;
}


button{
	background-color:transparent;
	border: rgba(255,255,255,1);
	outline:none;
}
h3{
	padding: 0;
	margin: 0;
	text-align: center;
}
.imagenObra{
	height: 100px;
	width: 100px;
	margin-left: 100%;
}
}